[Unit]
Description=Aria2c download manager
Wants=polkit-gnome-auth-agent.service

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=%h/.local/bin/start-aria2c
ExecReload=/usr/bin/kill -HUP $MAINPID
RestartSec=1min
Restart=on-failure
StandardOutput=file:/tmp/aria2c.log

[Install]
WantedBy=default.target
