[Unit]
Description=light-locker

[Service]
Type=simple
#User=
#Group=
ExecStart=light-locker
Restart=on-failure
StandardOutput=file:/tmp/light-locker.log

[Install]
WantedBy=default.target
