[Unit]
Description=Policykit Gnome authentication agent

[Service]
Type=simple
#User=
#Group=
ExecStart=/usr/lib/policykit-1-gnome/polkit-gnome-authentication-agent-1
Restart=on-failure
StandardOutput=file:/tmp/polkit-gnome-authentication-agent.log

[Install]
WantedBy=default.target
