[Unit]
Description=Polybar

[Service]
Type=simple
ExecStartPre=/bin/sleep 1
ExecStart=%h/.local/bin/start-polybar
Restart=on-failure
StandardOutput=file:/tmp/polybar.log

[Install]
WantedBy=default.target
