[Unit]
Description=Polybar

[Service]
Type=simple
ExecStart=polybar main
Restart=on-failure
StandardOutput=file:/tmp/polybar.log

[Install]
WantedBy=default.target
