[Unit]
Description=Pulseaudio

[Service]
Type=simple
ExecStart=start-pulseaudio-x11
Restart=on-failure
StandardOutput=file:/tmp/pulseaudio-x11.log

[Install]
WantedBy=default.target
