[Unit]
Description=Start SABnzbd

[Service]
Type=simple
ExecStart=sabnzbdplus -l -1 -f %h/.config/sabnzbd/sabnzbd.ini

[Install]
WantedBy=default.target
