[Unit]
Description=XFCE Power Manager

[Service]
Type=simple
ExecStart=xfce4-power-manager
Restart=on-failure
StandardOutput=file:/tmp/xfce4-power-manager.log

[Install]
WantedBy=default.target
